<!-- Loop over each object in the projects array -->
{{#each stories as |story| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/project/{{story.id}}">{{story.title}}</a>
    </h2>
    <p>Created by {{story.author}} on {{format_date story.dateUploaded}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{story.text}}
    </p>
  </div>
</div>
{{/each}}