<head>
  <link rel="stylesheet" href="/css/bookshelf.css" />
</head>


<div class="bookshelfDisplay">
  <div class='bg-dark'>
    <div id='shelf'>

      {{!-- This is the Children Genre book --}}
      <div class='book-bg graphic'>
        <div class='book flex-column'>
          <div id='book-shading'></div>
          <h1 style='line-height: 1%'>Children</h1>
          <div class='contents'>
            <div id='back'>
              <svg viewBox="0 0 512 512" width="100" title="chevron-circle-left">
                <path
                  d="M256 504C119 504 8 393 8 256S119 8 256 8s248 111 248 248-111 248-248 248zM142.1 273l135.5 135.5c9.4 9.4 24.6 9.4 33.9 0l17-17c9.4-9.4 9.4-24.6 0-33.9L226.9 256l101.6-101.6c9.4-9.4 9.4-24.6 0-33.9l-17-17c-9.4-9.4-24.6-9.4-33.9 0L142.1 239c-9.4 9.4-9.4 24.6 0 34z" />
              </svg>
            </div>
            <div class='page'>
              {{#each stories as |story| }}
              {{#ifEquals story.genreTag1 "Kids"}}
              <a class="topZ" href="/story/{{story.id}}">{{story.title}}</a>
              {{/ifEquals}}
              {{/each}}
            </div>
            <div class='page'>
              <div class='illus'
                style='background-image: url(https://images.unsplash.com/photo-1659034638032-3a0e9b7ac8d0?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NjE0NTUzMjM&ixlib=rb-1.2.1&q=80)'>
              </div>
              <div>
                <p class='text'>&emsp;Modernipsum dolor sit amet renaissance situationist international metaphysical
                  art,
                  deformalism manierism op art social realism neo-minimalism. Post-painterly abstraction socialist
                  realism
                  cloisonnism impressionism pop art illusionism, dada cloisonnism biedermeier.</p>
              </div>
            </div>
            <div id='page-shading'></div>
          </div>
        </div>
      </div>

      {{!-- This is the HORROR Genre book --}}
      <div class='book-bg data'>
        <div class='book'>
          <div id='book-shading'></div>
          <h1>HORROR</h1>
          <div class='contents'>
            <div id='back'><svg viewBox="0 0 512 512" width="100" title="chevron-circle-left">
                <path
                  d="M256 504C119 504 8 393 8 256S119 8 256 8s248 111 248 248-111 248-248 248zM142.1 273l135.5 135.5c9.4 9.4 24.6 9.4 33.9 0l17-17c9.4-9.4 9.4-24.6 0-33.9L226.9 256l101.6-101.6c9.4-9.4 9.4-24.6 0-33.9l-17-17c-9.4-9.4-24.6-9.4-33.9 0L142.1 239c-9.4 9.4-9.4 24.6 0 34z" />
              </svg></div>
            <div class='page'>
              {{#each stories as |story| }}
              {{#ifEquals story.genreTag1 "Horror"}}
              <a class="topZ" href="/story/{{story.id}}">{{story.title}}</a>
              {{/ifEquals}}
              {{/each}}
            </div>
            <div class='page'>
              <div>
                <p class='text'>&emsp;Two ghostly white figures in coveralls and helmets are softly dancing emerged into
                  consciousness are creatures of the cosmos white dwarf as a patch of light muse about? Intelligent
                  beings
                  the only home we've ever known explorations.</p>
              </div>
              <div class='illus'
                style='background-image: url(https://images.unsplash.com/photo-1584291527935-456e8e2dd734?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NjE3MDQyMTY&ixlib=rb-1.2.1&q=80)'>
              </div>
            </div>
            <div id='page-shading'></div>
          </div>
        </div>
      </div>


      <div class='book-bg photo'>
        <div class='book'>
          <div id='book-shading'></div>
          <h3>Mystery</h3>
          <div class='contents'>
            <div id='back'><svg viewBox="0 0 512 512" width="100" title="chevron-circle-left">
                <path
                  d="M256 504C119 504 8 393 8 256S119 8 256 8s248 111 248 248-111 248-248 248zM142.1 273l135.5 135.5c9.4 9.4 24.6 9.4 33.9 0l17-17c9.4-9.4 9.4-24.6 0-33.9L226.9 256l101.6-101.6c9.4-9.4 9.4-24.6 0-33.9l-17-17c-9.4-9.4-24.6-9.4-33.9 0L142.1 239c-9.4 9.4-9.4 24.6 0 34z" />
              </svg></div>
            <div class='page'>
              {{#each stories as |story| }}
              {{#ifEquals story.genreTag1 "Mystery"}}
              <a class="topZ" href="/story/{{story.id}}">{{story.title}}</a>
              {{/ifEquals}}
              {{/each}}
            </div>
            <div class='page is-grid'>
              <div class='illus'
                style='background-image: url(https://images.unsplash.com/photo-1649554007580-aeba20951028?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NjE3MzA1NjU&ixlib=rb-1.2.1&q=80); grid-column: 1 / 3; grid-row: 1 / 3'>
              </div>
              <div class='illus'
                style='background-image: url(https://images.unsplash.com/photo-1661546135630-bae33b1bf310?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NjE3MzA1NjU&ixlib=rb-1.2.1&q=80); grid-row: 1 / 3'>
              </div>
              <div class='illus'
                style='background-image: url(https://images.unsplash.com/photo-1660296444901-253891bb61c0?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NjE3MzA4Mjc&ixlib=rb-1.2.1&q=80); grid-column: 1 / 3'>
              </div>
              <div class='illus'
                style='background-image: url(https://images.unsplash.com/photo-1660219927145-40fb8403995b?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NjE3MzAxNTU&ixlib=rb-1.2.1&q=80)'>
              </div>
            </div>
            <div id='page-shading'></div>
          </div>
        </div>
      </div>


      <div class='book-bg landscape'>
        <div class='book flex-column'>
          <div id='book-shading'></div>

          <h1 style='line-height: 1%'>Fantasy</h1>
          <div class='contents'>
            <div id='back'>
              <svg viewBox="0 0 512 512" width="100" title="chevron-circle-left">
                <path
                  d="M256 504C119 504 8 393 8 256S119 8 256 8s248 111 248 248-111 248-248 248zM142.1 273l135.5 135.5c9.4 9.4 24.6 9.4 33.9 0l17-17c9.4-9.4 9.4-24.6 0-33.9L226.9 256l101.6-101.6c9.4-9.4 9.4-24.6 0-33.9l-17-17c-9.4-9.4-24.6-9.4-33.9 0L142.1 239c-9.4 9.4-9.4 24.6 0 34z" />
              </svg>
            </div>
            <div class='page'>
              {{#each stories as |story| }}
              {{#ifEquals story.genreTag1 "Fantasy"}}
              <a class="topZ" href="/story/{{story.id}}">{{story.title}}</a>
              {{/ifEquals}}
              {{/each}}
            </div>
            <div class='page'>
              <div>
                <h1>Landscape Design</h1>
                <p class='text'>&emsp;Sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt made
                  in the interiors of collapsing stars paroxysm of global death star stuff harvesting star light
                  extraplanetary hearts of the stars. Kindling the energy hidden in matter vanquish the impossible rogue
                  white dwarf rogue descended from astronomers. Not a sunrise but a galaxyrise hydrogen atoms kindling
                  the
                  energy hidden in matter qui dolorem ipsum quia dolor sit amet citizens of distant epochs a still more
                  glorious dawn awaits. Rich in heavy atoms emerged into consciousness circumnavigated as a patch of
                  light.</p>
              </div>
            </div>
            <div id='page-shading'></div>
          </div>
        </div>
      </div>
      <div class='book-bg writing'>
        <div class='book'>
          <div id='book-shading'></div>
          <h3>CLASSICS</h3>
          <div class='contents'>
            <div id='back'><svg viewBox="0 0 512 512" width="100" title="chevron-circle-left">
                <path
                  d="M256 504C119 504 8 393 8 256S119 8 256 8s248 111 248 248-111 248-248 248zM142.1 273l135.5 135.5c9.4 9.4 24.6 9.4 33.9 0l17-17c9.4-9.4 9.4-24.6 0-33.9L226.9 256l101.6-101.6c9.4-9.4 9.4-24.6 0-33.9l-17-17c-9.4-9.4-24.6-9.4-33.9 0L142.1 239c-9.4 9.4-9.4 24.6 0 34z" />
              </svg></div>
            <div class='page'>
              {{#each stories as |story| }}
              {{#ifEquals story.genreTag1 "Classics"}}
              <a class="topZ" href="/story/{{story.id}}">{{story.title}}</a>
              {{/ifEquals}}
              {{/each}}
            </div>
            <div class='page'>
              <div style='text-align: center'>
                <h3>Writing</h3>
                <p class='text'>Something incredible is waiting<br>to be known<br>vastness is bearable only through
                  love<br>star stuff harvesting star light<br>a billion trillion hearts<br>of the stars<br>quis nostrum
                  exercitationem<br>ullam corporis suscipit laboriosam.<br>Encyclopaedia galactica intelligent
                  beings<br>ship of the imagination<br>with pretty stories<br>for which there's little good
                  evidence<br>Apollonius of Perga<br>stirred by starlight?</p>
              </div>
            </div>
            <div id='page-shading'></div>
          </div>
        </div>
      </div>


      <div class='book-bg web'>
        <div class='book'>
          <div id='book-shading'></div>
          <h1>Sci-Fi</h1>
          <div class='contents'>
            <div id='back'><svg viewBox="0 0 512 512" width="100" title="chevron-circle-left">
                <path
                  d="M256 504C119 504 8 393 8 256S119 8 256 8s248 111 248 248-111 248-248 248zM142.1 273l135.5 135.5c9.4 9.4 24.6 9.4 33.9 0l17-17c9.4-9.4 9.4-24.6 0-33.9L226.9 256l101.6-101.6c9.4-9.4 9.4-24.6 0-33.9l-17-17c-9.4-9.4-24.6-9.4-33.9 0L142.1 239c-9.4 9.4-9.4 24.6 0 34z" />
              </svg></div>
            <div class='page'>
              {{#each stories as |story| }}
              {{#ifEquals story.genreTag1 "Sci-Fi"}}
              <a class="topZ" href="/story/{{story.id}}">{{story.title}}</a>
              {{/ifEquals}}
              {{/each}}
            </div>
            <div class='page'>
              <div class='illus'
                style='background-image: url(https://images.unsplash.com/photo-1608760000795-547e78bfc003?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NjE3MDgyMTI&ixlib=rb-1.2.1&q=80)'>
              </div>
            </div>
            <div id='page-shading'></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="plainDisplay">
  {{#each stories as |story| }}
  <div class="row mb-4 project">
    <div class="col-md-5">
      <h2>
        <!-- Call helper function with triple brackets to render the emoji span as HTML -->
        {{{get_emoji story.genreTag1}}}
        <a href="/story/{{story.id}}">{{story.title}}</a>
      </h2>
      <p>Created by {{story.author}} on {{format_date story.dateUploaded}}</p>
    </div>
    <div class="col-md-7">
      <p>
        {{story.text}}
      </p>
    </div>
  </div>
  {{/each}}
</div>